<div class="row">
   <div class="col-12">
      <img [src]="recipe.imagePath" class="img-fluid">
   </div>
</div>
<div class="row">
   <div class="col-12">
      <h1>{{ recipe.name }}</h1>
   </div>
</div>
<div class="row">
   <div class="col-12">
      <div class="dropdown">
         <button class="btn btn-primary dropdown-toggle" appDropdownMenu>Manage Recipe</button>
         <div class="dropdown-menu">
            <a routerLink="/shopping-list" class="dropdown-item" (click)="addIngredientsToShoppingList()">To ShoppingList</a>
            <a [routerLink]="['/recipes', index, 'edit']" class="dropdown-item">Edit Recipe</a>
            <a routerLink="/recipes" class="dropdown-item" (click)="deleteRecipe()">Delete Recipe</a>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-12">
      {{ recipe.description }}
   </div>
</div>
<div class="row">
   <div class="col-12">
      <ul class="list-group">
         <li class="list-group-item list-group-item-action d-flex justify-content-between" *ngFor="let ingredient of recipe.ingredients" style="cursor: pointer;">{{ingredient.name}} <span class="badge badge-primary p-2">{{ingredient.amount}}</span> </li>
      </ul>
   </div>
</div>